@(widgets: Seq[Widget], form: Form[WidgetForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

@import scala.collection.immutable.ListMap

@main("Widgets") {

<h1>Widgets</h1>

@* Flash shows updates to a page *@
@request.flash.data.map{ case (name, value) =>
<div>@name: @value</div>
}

<table>
  <thead>
    <tr>
      <th>都道府県</th>
      <th>Price</th>
  </thead>
  <tbody>
    @for(w <- widgets) { <tr>
      <td>@{
        if (controllers.Prefecture.allPrefecture.contains(w.prefecture)) controllers.Prefecture.allPrefecture(w.prefecture) else "none"
        }</td>
      <td>@w.price</td>
      </tr>
      }
  </tbody>
</table>

<hr />

@* Global errors are not tied to any particular form field *@
@if(form.hasGlobalErrors) {
@form.globalErrors.map { error: FormError =>
<div>
  @error.key: @error.message
</div>
}
}

@helper.form(postUrl) {
@helper.CSRF.formField

@{
helper.select(
form("prefecture"),
options = helper.options(controllers.Prefecture.allPrefecture)
)}

@helper.inputText(form("price"), Symbol("_showConstraints") -> false)

<button>Create widget</button>
}
}